<html>

<head>
    <title>swatch internet time</title>
    <meta property="og:title" content="Current Swatch Internet Time" />
    <meta property="og:description" content="{{.beats}} .beats" />
    <meta property="og:url" content="http://api.pitman.io/beats" />
    <meta property="og:image" content="https://en.wikipedia.org/wiki/Swatch_Internet_Time#/media/File:Swatch_beat_Logo.svg" />
</head>

<body>
    <h1>Current Swatch Internet Time is</h1>
    <span id="beats">{{.beats}}</span> .beats
</body>

</html>